* {
    margin: 0;
}

.center-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.calculator {
    min-width: 200px;
    border: 1px solid orange;
    border-radius: 15px;
    padding: 10px 5px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.btn, .op {
    flex: 1;
    margin: 2px;
    padding: 5px 0;
    border-radius: 15px;
    border: none;
    font-size: 16px;
}

.display {
    text-align: right;
    margin-right: 15px;
    font-size: 32px;
    margin-top: 75px;
    margin-bottom: 15px;
    color: white;
}

.op.clear {
    flex: 3;
}

.btn.zero {
    flex: 3;
}

.btn:hover {
    background-color: grey;
}

.op.clear:hover {
    background-color: grey;
}

.op.equal, .op.divide, .op.subtract, .op.multiply, .op.add {
    background-color: orange;
}

.op.equal:hover, .op.divide:hover, .op.subtract:hover, .op.multiply:hover, .op.add:hover {
    background-color: darkorange;
}

/* Make the buttons equal */
.op.subtract, .op.multiply, .op.plus {
    padding-left: 2px;
}

